<p style="color: #BDBDBD; font-weight: 500;">Frota / <span style="color: #0291FB;">Veículos</span></p>

<mat-card class="card_banner">
    <div class="cl_card">
        <mat-card-title class="title">Gerencie seus veículos</mat-card-title>
        <mat-card-subtitle class="subtitle">Cire e gerencie seus veículos</mat-card-subtitle>
    </div>
    <div class="cl_card" id="cl_img_card">
        <img src="assets/img/bg_card_banner.png" alt="" id="card_img_1">
        <img src="assets/img/car.png" alt="" id="card_img_2">
        <img src="assets/img/truck.png" alt="" id="card_img_3">
    </div>
</mat-card>