.li_cont_read_title, .li_cont_read_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.li_cont_read_content td, .li_cont_read_title td{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    padding: 0 8px;
}

.td_menor{
    text-align: center;
    width: 10%;
    box-sizing: border-box;
}

.td_maior{
    text-align: center;
    width: 17%;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

.li_cont_read_title2{
    background-color: #FCFCFC;
}

.li_cont_read_title2 th{
    padding: 16px 0 !important;
}

.li_cont_read_content{
    border-bottom: solid 2px #FCFCFC;
    padding: 4px 0;
}

table{
    width: 100%;
}

.mat_ico{
    color: #0291FB;
}

.status_span{
    background-color: #E6F4FF;
    color: #0291FB;
    padding: 6px 14px;
    border-radius: 10px;
}

th, td{
    color: #828282;
}

.actions_title{
    padding-right: 24px !important;
}