<mat-card class="card_search">
    <div id="cl_card_1">
    <mat-card-title class="title">Busca por filtro</mat-card-title>
    <input matInput placeholder="Buscar veículos">
    <mat-icon matPrefix class="my-icon">search</mat-icon>

    </div>
    <div id="cl_card_2">
        <mat-card-title class="title">Status</mat-card-title>
 
        <mat-select class="select_crud" value="todos">
            <mat-option class="opt" label="Todos" value="todos">Todos</mat-option>
            <mat-option class="opt" value="ativo">Ativo</mat-option>
            <mat-option class="opt" value="inativo">Inativo</mat-option>
        </mat-select>

    </div>
</mat-card>