<div class="content_update">
    <p style="color: #BDBDBD; font-weight: 500;">Frota / Veículos / <span style="color: #0291FB;">Deletar Veículos</span></p>
</div>
<div class="content_update">

    <mat-card class="contain_input_card">
        <mat-card-title class="title">Tem certeza que deseja deletar o veículo {{car.veiculo}}?</mat-card-title>
    
        <div class="buttons_container">
            <button class="btn_cancel" (click)="cancel()">Cancelar</button>
            <button class="btn_deletar" (click)="deleteCars()" color="primary">Apagar</button>
        </div>
    </mat-card>
    
    


    
</div>
