.content_update{
    padding:  10px 16px;
    background-color: #FCFCFC;
}

.contain_input{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto;
}

.select_input{
    font-family: 'Poppins', sans-serif;
}

.contain_input_card{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
}

.buttons_container{
    text-align: center;
    margin: 20px 0 30px 0;
}

.btn_cancel{
    background-color: #FCFCFC;
    font-weight: 300;
    font-size: .8rem;
    padding: 11px 20px;
    border-radius: 10px;
    margin: 5px;
    color: #909090;
    border: solid #E0E0E0 1px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .1s;
}
.btn_cancel:hover{
    background: transparent;
    transition: .4s;
    border: solid #E0E0E0 2px;
    padding: 10px 19px;
    transition: .2s;
}

.btn_deletar{
    background-color: #0291FB;
    font-weight: 300;
    font-size: .8rem;
    padding: 11px 19px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    border: solid #0291FB 1px;
    cursor: pointer;
    transition: .1s;
}
.btn_deletar:hover{
    background: transparent;
    color:#0291FB;
    transition: .2s;
    border: solid #0291FB 1px;
}

